 :root {
    --font-playfair: "Playfair Display", serif;
    --font-lora: "Lora", serif;
  }

  /* Default Body Font */
  body {
    font-family: var(--font-lora);
  }

  /* Default Heading Font */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: slideshow 12s infinite;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 4s; }
.slide:nth-child(3) { animation-delay: 8s; }

@keyframes slideshow {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

/* Bottom Text */
.caption {
  
  padding: 8;
  position: absolute;
  bottom: 40px;
  left: 10%;
  border-radius: 5px;
  z-index: 20;
  color: white;
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: left;
}
